@import 'common';

@font-face {
    font-family: 'sans-serif';
    font-weight: normal;
    font-style: normal;
}


$노란컬러: #f8aa20;
$중간사이즈:767px;
$작은사이즈:480px;

@mixin floatItem($i: 0px) {
    float: left;
    margin: 0 $i;
}

@mixin smallTitle($pTop: 50px, $fSize:55px) {
    padding-top: $pTop;
    color: black;
    text-align: center;
    font-size: $fSize;
}

@mixin mobile($사이즈:1100px) {
    @media screen and (max-width:$사이즈) {
        @content;
    }
}

.center {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 110px;
    background: #222;

    @include mobile($중간사이즈) {
        height: 50px;
    }



    h1 {
        float: left;

        a {
            display: block;
            width: 200px;
            height: 110px;
            overflow: hidden;

            @include mobile(1200px) {
                width: 150px;
            }

            @include mobile($중간사이즈) {
                height: 50px;
                padding-top: 0px;
            }

            img {
                width: 100%;
                height: 100%;

            }
        }
    }

    .play {
        float: left;
        text-align: center;
        vertical-align: middle;

        a {
            display: block;
            width: 100px;
            height: 110px;
            background: $노란컬러;
            line-height: 110px;
            color: white;
            font-size: 20px;

            @include mobile(1050px) {
                width: 60px;
                font-size: 14px;
            }

            @include mobile($중간사이즈) {
                height: 50px;
                line-height: 50px;
            }
        }
    }

    .mhamBtn {
        display: none;
        float: right;
        line-height: 50px;
        margin-right: 20px;

        @include mobile($중간사이즈) {
            display: block;
        }
    }

    .slideMenu {
        display: none;
        width: 40%;
        height: 100%;
        background: #aaa;
        z-index: 1000;
        margin-right: -100%;
        text-align: center;



        ul {
            li {
                float: left;
                margin: 2px 0;
                width: 100%;
                //                height: 40px;
                line-height: 40px;
                border: 1px solid black;
                box-sizing: border-box;

                .sub {
                    display: none;

                    li {
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        border: 0px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        @include mobile($중간사이즈) {
            display: block;
            position: absolute;
            top: 50px;
            right: 0;

        }
    }



    #nav {
        float: left;

        @include mobile($중간사이즈) {
            display: none;
        }

        li {
            @include floatItem(15px);
            position: relative;

            @include mobile(1200px) {
                @include floatItem(8px);
            }

            span {

                color: $노란컬러;

            }

            a {
                line-height: 110px;
                font-size: 20px;
                color: white;

                &:hover {
                    color: #ccc;
                }

                @include mobile(1050px) {
                    font-size: 14px;
                }
            }

            .sub {
                display: none;
                position: absolute;
                top: 90px;
                width: 170px;
                height: auto;
                background: #444;
                border: 1px solid black;
                z-index: 100;

                li {
                    text-align: center;
                    float: none;
                    margin: 0;
                    height: 30px;
                    border-bottom: 1px solid white;

                    a {
                        font-size: 15px;
                        line-height: 30px;

                    }
                }
            }
        }
    }

    .gnb {
        float: right;

        @include mobile($중간사이즈) {
            display: none;
        }

        li {
            @include floatItem(0);
            margin: 0 20px;
            line-height: 110px;

            @include mobile(1050px) {
                margin: 0 10px;
            }

            a {
                font-size: 20px;
                color: white;

                @include mobile(1050px) {
                    font-size: 14px;
                }

                img {
                    vertical-align: middle;
                    width: 25px;
                    color: white;
                }
            }
        }
    }
}


#container {
    position: relative;


    h2 {
        @include smallTitle();

        @include mobile($중간사이즈) {
            font-size: 35px;
        }
    }

    #mainVideo {
        position: relative;

        video {
            width: 100%;

        }

        .videoTitle {
            position: absolute;
            bottom: 25%;
            left: 50%;
            transform: translateX(-50%);
            word-break: keep-all;
            font-size: 55px;
            text-align: center;
            color: white;

            @include mobile($중간사이즈) {
                font-size: 30px;
            }
        }

        .videoButton {
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);

            a {
                text-align: center;
                display: block;
                width: 250px;
                height: 60px;
                line-height: 60px;
                font-size: 30px;
                background: $노란컬러;
                color: #111;
                border-radius: 10px;

                @include mobile($중간사이즈) {
                    width: 120px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 15px;
                }
            }
        }
    }


    #notice {
        margin-top: 100px;
        background: url(../images/Goroka.png)no-repeat center center fixed;
        background-size: cover;
        background-position: 0 20%;
        padding-bottom: 50px;



        .noticeWrap {
            //            height: 700px;
            width: 90%;
            margin: 50px auto 0;
            display: flex;
            justify-content: space-between;

            @include mobile ($중간사이즈) {
                display: block;
            }

            @include mobile($작은사이즈) {
                width: 90%;
            }

            li {
                width: 40%;
                height: 35vw;
                border: 3px solid #ccc;
                background: white;
                position: relative;
                min-height: 500px;

                @include mobile(1000px) {
                    min-height: 420px;
                }

                @include mobile ($중간사이즈) {
                    width: 90%;
                    height: 100%;
                    min-height: 50px;
                    margin: 30px auto;
                }

                @include mobile($작은사이즈) {
                    width: 100%;
                    //                    min-height: 50px;
                    height: 100%;
                }

                div {
                    text-align: center;

                    img {
                        margin-top: 10px;
                        width: 100%;

                        @include mobile ($중간사이즈) {
                            width: 100%;
                            margin: 0;
                        }
                    }

                    .subTitle {
                        font-size: 30px;
                        color: black;
                        padding: 10px;

                        @include mobile($중간사이즈) {
                            position: absolute;
                            padding: 0;
                            top:10%;
                            left: 5%;
                            color: white;
                            font-size: 30px;
                            padding: 5px;
                        }

                        @include mobile($작은사이즈) {
font-size: 20px;
                            top: 10%;
                            left: 5%;
                            color: white;
                        }
                    }

                    .subContent {
                        height: 80px;
                        text-align: left;
                        padding: 15px;

                        @include mobile(1000px) {
                            font-size: 14px;
                            height: 70px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            //                            white-space: inherit;

                        }

                        @include mobile ($중간사이즈) {
                            display: none;
                        }




                    }


                    .subButton {
                        position: absolute;
                        bottom: 5px;
                        margin: 0 20%;
                        width: 60%;
                        border: 1px solid black;
                        height: 30px;
                        line-height: 30px;

                        @include mobile($중간사이즈) {
                            width: 30%;
                            height: 25px;
                            line-height: 25px;
                            margin: 0 35%;
                            font-size: 12px;
                        }

                        a {
                            display: block;


                            background: $노란컬러;
                        }
                    }
                }
            }
        }

        .patchNote {
            width: 80%;
            height: 21vw;
            margin-top: 100px;
            border: 3px solid #ccc;
            background: white;
            max-width: 1200px;
//            max-height: 300px;
            min-height: 260px;


            .patchWrap {
                width: 100%;
                height: 100%;
                min-height: 100px;
                margin: 0 auto;

                @include mobile($중간사이즈) {
                    width: 100%;
                    height: 42vw;

                }

                .patchLeft {
                    float: left;
                    width: 50%;
                    height: 100%;
                    position: relative;

                    @include mobile($중간사이즈) {
                        width: 100%;
                        height: 260px;
                    }

                    img {
                        width: 100%;
                        height: 100%;
//                        max-height: 300px;
//                        max-width: 500px;
                        min-height: 260px;

                    }

                    .subButton {
                        display: none;

                        margin: 0 20%;
                        width: 60%;
                        border: 1px solid black;
                        margin-top: 45px;
                        text-align: center;

                        @include mobile($중간사이즈) {
                            display: block;
                            position: absolute;
                            bottom: 5%;
                        }

                        a {
                            display: block;
                            height: 30px;
                            line-height: 30px;

                            background: $노란컬러;
                        }
                    }
                }

                .patchRight {
                    float: right;
                    width: 45%;
                    height: 100%;
                    position: relative;
                    text-align: center;

                    @include mobile($중간사이즈) {
                        display: none;
                    }



                    .subTitle {
                        font-size: 35px;
                        color: black;
                        padding: 10px 5px;

                        @include mobile(1120px) {
                            font-size: 20px;
                        }



                    }

                    .subContent {
                        font-size: 16px;
                        height: 80px;
                        text-align: left;
                        margin-left: 5%;
                        line-height: 1.5em;
                        word-break: keep-all;

                        @include mobile(1350px) {
                            font-size: 14px;
                            margin-left: 0;
                        }

                        @include mobile(1120px) {
                            font-size: 12px;

                        }

                    }


                    .subButton {
                                                position: absolute;
                        margin: 0 20%;
                        width: 60%;
                        border: 1px solid black;
                        bottom: 5%;
                        right: 0;





                        a {
                            display: block;
                            height: 30px;
                            line-height: 30px;

                            background: $노란컬러;

                            @include mobile(845px) {
                            height: 20px;
                                line-height: 20px;
                                font-size: 14px;
                        }
                        }
                    }
                }
            }


        }
    }


    #esports {
        width: 100%;


        .esportsWrap {
            margin-top: 50px;

            .esportsBanner {
                width: 100%;

                position: relative;
                overflow: hidden;

                ul {
                    width: 200%;

                    li {
                        float: left;
                        width: 50%;
                        position: relative;
                        text-align: center;

                        div {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        .esMore {
                            position: absolute;
                            bottom: 20px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 120px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 10px;
                            background: $노란컬러;

                            @include mobile($중간사이즈) {
                                height: 20px;
                                line-height: 20px;
                                border-radius: 5px;
                                font-size: 12px;
                                bottom: 5%;
                            }

                            @include mobile($작은사이즈) {
                                height: 15px;
                                line-height: 15px;
                            }
                        }

                        p {
                            width: 600px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 35%;
                            color: white;
                            font-size: 40px;
                            font-weight: bolder;
                            word-break: keep-all;

                            @include mobile($중간사이즈) {
                                font-size: 24px;
                                top: 45%;
                            }

                            @include mobile($작은사이즈) {
                                font-size: 18px;
                                top: 40%;
                            }
                        }
                    }
                }

                .arrowBtn {
                    .LeftBtn {
                        position: absolute;
                        top: 50%;
                        left: 5%;
                    }

                    .RightBtn {
                        position: absolute;
                        top: 50%;
                        left: 90%;
                    }

                    a {
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 40px;
                        color: #ccc;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        background: black;

                        @include mobile($중간사이즈) {
                            font-size: 20px;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                        }
                    }
                }
            }

            .addWrap {
                display: flex;

                @include mobile($중간사이즈) {
                    display: block;
                }

                h3 {
                    position: absolute;
                    left: 50%;
                    top: 20px;
                    transform: translateX(-50%);
                    color: white;
                    font-size: 35px;
                }

                .esportLeft {
                    width: 50%;
                    background: black;
                    position: relative;

                    iframe {
                        margin-top: 80px;
                    }

                    @include mobile($중간사이즈) {
                        width: 100%;
                    }
                }

                .esportRight {
                    width: 50%;
                    background: black;
                    position: relative;
                    text-align: center;

                    @include mobile($중간사이즈) {
                        width: 100%;
                        max-height: 200px;
                    }

                    img {
                        width: 100%;

                        @include mobile($중간사이즈) {
                            max-height: 200px;
                        }
                    }

                    a {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 40px;
                        display: block;
                        width: 150px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 25px;
                        background-color: $노란컬러;

                        @include mobile($중간사이즈) {
                            width: 100px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            bottom: 20px;
                        }

                    }
                }
            }

        }
    }

    #maps {
        h2 {
            color: white;
        }

        padding-top: 20px;
        width: 100%;
        background: #444;
        text-align: center;

        h3 {
            font-size: 35px;
            color: #ccc;

            @include mobile($중간사이즈) {
                font-size: 30px;
                margin-top: 15px;
            }

        }

        .mapWrap {
            margin-top: 20px;
            display: flex;
            width: 100%;

            @include mobile($작은사이즈) {
                display: block;
            }

            .mapLeft {
                width: 50%;

                @include mobile($작은사이즈) {
                    width: 100%;
                }

                .minimap {
                    width: 70%;
                    margin: 5% 15%;

                    img {
                        width: 100%;
                    }
                }

            }

            .mapRight {
                width: 50%;


                @include mobile($작은사이즈) {
                    width: 100%;
                }

                .mapBtn {
                    margin: 20px 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    li {
                        width: 27%;
                        border: 1px solid black;
                        box-sizing: border-box;
                        box-shadow: 1px 1px 1px #333;

                        background: white;

                        a {
                            display: block;
                            line-height: 20px;
                        }

                        &.active {
                            background: $노란컬러;
                        }

                    }
                }

                .mapVisual {
                    width: 100%;

                    img {

                        margin: 10px 10%;
                        width: 80%;
                    }
                }

                .mapList {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;

                    li {
                        width: 30%;

                        a {
                            display: block;
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

    }

    #weapons {
        padding-top: 30px;
        background: #444;


        h2 {
            color: white;
        }

        .weaponsWrap {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @include mobile($중간사이즈) {
                display: block;
            }

            .weaponsLeft {
                width: 40%;
                margin: 0 auto;

                @include mobile($중간사이즈) {
                    width: 100%;
                    height: 300px;
                }

                .weaponsMenu {
                    margin-top: 50px;
                    text-align: center;
                    display: flex;
                    justify-content: space-around;
                    height: 25px;
                    line-height: 25px;


                    li {
                        width: 30%;
                        background: white;

                        &.active {
                            background: $노란컬러;
                        }
                    }
                }

                .weapons {
                    .weaponList {
                        display: flex;
                        justify-content: space-between;
                        margin: 30px 0;
                        line-height: 40px;
                        text-align: center;


                        li {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background: white;
                            font-size: 12px;

                            &.active {
                                background: $노란컬러;

                            }
                        }


                    }

                    .stats {
                        width: 100%;
                        height: 500px;

                        //                        background: pink;
                        .statsList {
                            li {
                                width: 80%;
                                height: 40px;
                                margin: 0 10%;
                                text-align: center;
                                line-height: 40px;

                                div {
                                    float: left;
                                    border: 1px solid white;
                                    box-sizing: border-box;
                                    color: white;

                                    &:first-child {
                                        width: 30%;
                                    }

                                    &:last-child {
                                        width: 70%;
                                    }
                                }

                                span {
                                    &:first-child {
                                        width: 20%;
                                        color: white;
                                        margin-right: 40px;
                                    }

                                    &:last-child {
                                        width: 70%;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            .weaponsRight {
                width: 50%;
                margin: 40px auto;

                @include mobile($중간사이즈) {
                    width: 100%;
                    padding-bottom: 50px;
                }

                .weaponsImg {
                    width: 350px;
                    height: 350px;
                    margin: 0 auto;
                    border-radius: 50%;
                    box-sizing: border-box;

                    background: white;
                    border: 5px solid $노란컬러;
                    overflow: hidden;

                    @include mobile($작은사이즈) {
                     width:100%;
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        margin: 100px auto;
                    }
                }



            }
        }
    }
}

footer {
    width: 100%;
    height: 200px;
    background: black;
    min-width: 363px;

    hr {
        display: block;
        color: white;
    }

    .footerTop {
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;

        li {
            @include floatItem(20px);

            @include mobile($중간사이즈) {
                @include floatItem(10px);
            }

            @include mobile($작은사이즈) {
                @include floatItem(5px);
            }


            a {
                color: white;
                font-size: 15px;
                line-height: 15px;

                @include mobile($작은사이즈) {
                    font-size: 12px;
                    line-height: 12px;
                }
            }

        }
    }

    .footerBottom {
        width: 80%;
        margin: 0 auto;

        address {
            p {
                font-size: 12px;
                margin: 10px 0;

                @include mobile($작은사이즈) {
                    margin: 5px 0;
                    font-size: 10px;
                }
            }
        }

        .footerList {
            li {
                @include floatItem(15px);

                @include mobile($중간사이즈) {
                    @include floatItem(5px);
                }

                @include mobile($작은사이즈) {
                    margin-top: 5px;
                }

                &::after {
                    content: "|";
                    float: right;
                    display: block;
                    margin-left: 30px;

                    @include mobile($중간사이즈) {
                        margin-left: 10px;
                    }
                }

                &:last-child::after {
                    display: none;
                }

                a {
                    font-size: 12px;
                    color: white;

                    @include mobile($작은사이즈) {
                        font-size: 10px;
                    }
                }
            }

        }
    }
}
